.table-container th,.table-container td{
    border: 1px solid #9b9b9b;
    text-align: left;
    padding: 8px;
}

.table-container{
    overflow: auto;
    width: 800px; 
    min-width: 300px;
    height: 240px;

}

.table-container th{
    position: sticky;
    top: 0;
    background: rgb(228, 228, 228);
    z-index: 1;
}

.table-container lightning-input{
    width: 180px;
    min-width: 60px;
}

.reset-rows-btn{
    margin-left: 0.3rem;
}